<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">

            <!-- Handle alerts -->
            {% if alerts|length %}
                <div class="alerts-container">
                {% for alert in alerts %}
                    <div class="alert alert-{{ alert.0 }}">{{ alert.1 }}</div>
                {% endfor %}
                </div>
            {% endif %}

            <div class="section">

                <!-- Page content -->

                {% block content %}{% endblock %}

            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% if birthdays|length %}
                            {% for birthday in birthdays %}
                            <tr>
                                <td>{{ birthday.name }}</td>
                                <td>{{ birthday.day }}/{{ birthday.month }}</td>
                                <td class="flex-div">
                                    <form action="/edit" method="get">
                                        <button name="id" type="submit" value="{{ birthday.id }}" class="btn-action">Edit</button>
                                    </form>
                                    <form action="/delete" method="post">
                                        <button name="id" type="submit" value="{{ birthday.id }}" class="btn-action">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan=3>The list is empty.</td></tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>
